@media screen and (max-width: 770px) {
    #menu{
        z-index: 99999;
        display:block ;
        /* left: 6%;
        top: 30%;
        position: absolute; */
        color: #fff;
        transition: 1s;
    }
    nav{
        padding: 0 20px;
    }
    nav .container1 ul li a {
        
        padding: .4em .7em;
        font-size: 1.20rem;
    }
   nav .logo{
   
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
   }
   nav .container1{
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    transform: translate(0);
    transition: all .5s;
    overflow: hidden;
    /* box-shadow:  0px 2px 1px 0px #f2f2ff; */
    z-index: 99;
    left: 0;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
   }
   nav .container1 ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav .container1 ul{
    line-height: 30px;

    margin-top: 70px;
    padding: 0 50px;
}


/* ---------------------- */

.contact{
    flex-direction: column;
}
#contact .contact-left{
    text-align: center;
    width: 100%;
}
#contact .contact-right{
    width: 100%;

}
#contact .abt-left{
    width: 100%;
    height: 400px;
  }
  #contact .about{
    flex-direction: column;
    margin: 100px auto;
   
  }
  #contact .abt-right{
    width: 100%;
  
  }
/* .shoping-result a img{
} */
.card1{
    padding: 5px;
  }

  #productview .productview{
    flex-direction: column;
    padding-top: 30px;
  }
  .productview-left{
    width: 100%;
    
  }
  .productview-right{
    width: 100%;
  }

  /* ---------------------------------------- */
 
}