*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:royalblue;
}
body{
  text-transform: capitalize;
}
body button , body a{
  text-decoration: none;
  text-transform: capitalize;
}
body form input::placeholder{
  text-transform: capitalize;
}
/* ----------------------------------- */
nav {
  z-index: 9999;
  position: absolute;
  height: 80px;
  top: 0;
  width: 100%;
  background:transparent ;
  border-radius:0 0 20px 20px;
}
nav i{
  font-size: 20px;
}
nav .container1 {

  width: fit-content;
  height: max-content;
  text-align: center;
}
#menu{
  border: none;
  outline: none;
  background: transparent; 
  transition: .5s;
  display: none;
}
nav .container1 ul{
  margin: 0;
}
.logo{
  width: fit-content;
  height: min-content;
  color: #fff;
}
nav .container1 ul li {
  display: inline-block;
  /* border-radius:30px; */
}
nav .container1 ul li a:hover{
background-color: royalblue;
}


nav .container1 ul li a {
  position: relative;
  transition: .5;
  display: inline-block;
  text-decoration: none;
  padding: .3em 1em;
  font-size: 1.30rem;
  color:#fff;
  border-radius: 10px;

}
.nav-right {
  height: 50px;
}

.nav-right i{
  color: white;
  font-size: 25px;
}
.nav-right .cart{
  padding: 10px;
}

/* -------------------------- */
#account{
  
  display: flex;
  background-color: #ececec;
  gap: 10px;
  width: 100%;
  padding: 10px 5%;
}

.account-left{
  min-width: 300px;
  height: min-content;
  background:#ececec;
}
.account-right{
  width: 80%;
  background: #fff;

  min-height: 100vh;
}
.account-right input{
  padding: 10px;
}
.account-right label{
  font-weight: 600;
  font-size: 18px;
}
.account-right .faqs p{
  font-size: 13px;
  font-weight: 500;
}
/* ------------------------ */

#home{
  height: 100vh;
  width: 100%;
  position: relative;
}
#home .carousel img{
    height: 100vh;
    object-fit: cover;
}
.home-main{
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%,-50%);
  /* background-color: aliceblue; */
}

.home-main h1{
  font-size: 5.5rem;
  font-weight: 600;
  letter-spacing: 5px;
}
.home-main h2{
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 5px;
}
/* ------------------------------ */
#product{
 padding: 10px 0;
 background: rgb(235, 235, 235);
}
#product .latest{
  background: #fff;
}
#product .card-main{
  width: 230px;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product .card-main h2{
  font-size: 30px;
    line-height: 1.38;
    font-weight: 400;
}
/* .productview-left .carousel-inner{
    position: relative;
  margin: 0px auto;
  transition: all .03s;
} */
.productview-left .carousel-item {
  position: relative;
  margin: 0px auto;
  height: 100%;
}
.productview-left .carousel-item img{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 90%;
}
.card1 ._card1_img{
  position: relative;
  margin: 0px auto;
  transition: all .03s;
}
.card1 ._card1_h4{
  font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card1:hover ._card1_img{
  scale: 1.030;
}
.card1:hover{
  border: 1px solid rgb(168, 168, 168);
}
.card1 ._card1_h5{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card1 ._card1_h6{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 .card1 img{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.card1{
  position: relative;
  border: 1px solid #fff;
  padding: 25px 15px;
  display: inline-block;
  vertical-align: top;
  width: fit-content;
  max-height: 366px;
  text-align: center;
}

#product .latest{
  max-height: 800px;
  overflow: auto;
}
#product >.container:nth-child(1) h1{
text-transform: uppercase;
letter-spacing: 2px;
font-weight:600;
}


/* ----------------------- */
#foot{
  padding-bottom: 10px;
 background: rgb(235, 235, 235);
}
#foot .foot{
  padding: 30px 0;
  background: #fff;
}
#foot i{
  color: #fff;
}
#foot .circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: green;
}
#foot h5{
  font-size: 16px;
  letter-spacing: 1px;
}
/* ---------------------------- */
#footer{
  height: 100px;
  display: flex;
  align-items: center;
  background: var(--primary-color);
}

/* ---------------- */

#contact .contact-home{
  height: 500px;
  background: var(--primary-color);
}
#contact .contact{
  height: auto;
  margin-top:70px;
  margin-bottom: 70px;
}
#contact .contact-left{
 
  width: 45%;
}
#contact .contact-right{
  
  width: auto;
}
#contact .contact-right .circle{
  width: 40px;
  border: 1px solid var(--primary-color);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#contact .contact-right .icon:nth-child(1) ,#contact .contact-right .icon:nth-child(2) ,#contact .contact-right .icon:nth-child(3){
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
#contact .contact-right .icon:nth-child(1):hover{
  box-shadow: 0 0 10px 5px rgb(0, 221, 255);
  border: none;
}

#contact .contact-right .icon:hover .fa-facebook{
  color: rgb(0, 221, 255);
}
#contact .contact-right .icon:nth-child(2):hover{
  box-shadow: 0 0 10px 5px rgb(255, 0, 0);
  border: none;
}
#contact .contact-right .icon:hover .fa-instagram{
  color: rgb(255, 0, 0);
}#contact .contact-right .icon:nth-child(3):hover{
  box-shadow: 0 0 10px 5px rgb(0, 132, 255);
  border: none;
}
#contact .contact-right .icon:hover .fa-linkedin{
  color: rgb(0, 132, 255);
}
#contact .contact-right .icon i{
  font-size: 1.3rem;
  color: black;
}
#contact .contact-left form{
  
  box-shadow: 5px 5px 30px rgb(237, 237, 237);
}
#contact .contact-left form input{
  height: 50px;
  background: whitesmoke;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
#contact .contact-left form textarea{
  resize: none;
  border: none;
  background: whitesmoke;
  border-radius: 5px;
  padding: 5px 10px;
}

#contact .contact-right h6{
  font-size: 1rem;
  font-weight: 600;
}
#contact .contact-right h5 {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 400;
}
#contact .contact-right a{
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--primary-color);
}

/* -------------------- */
#contact .abt-left{
  width: 47%;
  height: 350px;
}
#contact .about{
  margin: 100px auto;
 
}
#contact .abt-right{
  width: 47%;

}
#contact .abt-right p{
  line-height: 30px;
  font-weight: 500;
}

/* -------------------------- */
#address-bar{
display: none;
}
#address-bar input[type=text] ,#address-bar input[type=number],#address-bar input[type=tel]{
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

/* ---------------account */
.account-left .account-head a:hover{
  color:var(--primary-color);
  background: rgb(243, 250, 253);
}

/* ------------------- */
#proaddress input[type=text] ,#proaddress input[type=number] ,#proaddress input[type=tel]{
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
 width: 300px;
}
.reviews .reviewtext:not(:placeholder-shown) +
.reviewbtn{
  display: block;
}
.reviews .reviewbtn{
  display: none;
}
.reviews form{
  border-radius: 10px;
}
.reviews form textarea{
  border-radius: 10px;
}

/* -------------proloder */

#preloder{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: black ;
}
#preloder strong{
  color: white;
  letter-spacing: 4px;
  font-weight: 500;
  animation: glow 1s alternate infinite;
}
@keyframes glow {
  0%{
    opacity: .1;
  }
  100%{
    opacity: 1;
  }
}

.loading-bar {
  height: 40px;
  width: 6px;
  margin: 0 5px;
  background-color: #8BC34A;
  animation: loading 1.5s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.1);
  }
}



/* ---------------- */


.checkmark {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
#value{
  display: none;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}